.Tab-Section {
  display: flex;
  /* padding-top: 5%; */
  text-align: center;
}

.Tab-All {
  /* position: fixed; coool */
  display: block;
  padding: 0.2rem;
  padding-left: 0.3rem;
  width: 18vw;
  text-align: left;
  font-size: 0.8em;
  border-right: solid 4px rgb(255, 0, 217);
  border-bottom: solid 4px rgb(255, 0, 217);
  margin: 12%;
  margin-right: 12px;
  padding-bottom: 10px;
  background-color: yellow;
  transform: skew(-8deg, 6deg);
}

.Tab-All-clicked {
  padding: 0.2rem;
  padding-left: 0.3rem;
  width: 18vw;
  text-align: left;
  font-size: 0.8em;
  border: solid 4px rgb(255, 0, 217);
  margin: 12%;
  margin-right: 10px;
  padding-bottom: 10px;
  background-color: yellow;
  transform: skew(-6deg, 6deg);
}
.Tab-Football {
  padding: 0.2rem;
  padding-left: 0.3rem;
  width: 18vw;
  text-align: left;
  font-size: 0.8em;
  border-right: solid 4px rgb(13, 0, 255);
  border-bottom: solid 4px rgb(13, 0, 255);
  margin: 12%;
  margin-right: 15px;
  padding-bottom: 10px;
  background-color: yellow;
  transform: skew(-6deg, 6deg);
}
.Tab-Coding {
  padding: 0.2rem;
  padding-left: 0.3rem;
  text-align: left;
  font-size: 0.8em;
  width: 18vw;
  border-bottom: solid 4px rgb(255, 0, 0);
  border-right: solid 4px rgb(255, 0, 0);
  margin: 12%;
  margin-right: 9px;
  padding-bottom: 10px;
  background-color: yellow;
  /* transform: scaleX(1.3); */
  transform: skew(-1deg, 3deg);
}
.Tab-Cooking {
  padding: 0.2rem;
  padding-left: 0.3rem;
  text-align: left;
  font-size: 0.8em;
  width: 18vw;
  border-bottom: solid 4px rgb(34, 255, 0);
  border-right: solid 4px rgb(34, 255, 0);
  margin: 12%;
  margin-right: 15px;
  padding-bottom: 10px;
  background-color: yellow;
  /* transform: scaleX(1.3); */
  transform: skew(2deg, -7deg);
  /* transform-origin: bottom left; */
}
.Top-2:hover {
  /* font-size: small; */
  animation: var(--animation);
}
